/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
record-file
### NetBeans ###
/nbproject/private/
/build/
build
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
target
/logs/
logs
*.log
jar
record-file
.mvn
.flattened-pom.xml
c5gmc-util/c5gmc-data/src/test/report/
/var/
/msg-util/msg-data/src/test/report/
